/log
/vendor
/node_modules
/public/storage
/ssl
Homestead.yaml
Homestead.json
.env
composer.phar
composer.lock
.cache
.composer
.profile
.viminfo
.ssh
.cache
.profile
.composer
.bash_history
.viminfo
.selected_editor
.rnd
.config
.local

