
/***
 *  General
 */
.button-back {
    margin: 30px 0;
}
.centered-text {
    text-align:center
}
.box-body h3 {
    margin: 0;
}
.content-header h1 a {
    color: #333;
}

/***
 *  Projects
 */
.projects {
    margin: 10px 0 80px 0;
}
.projects li {
    font-size: 18px;
    margin: 5px 0;
    list-style: square;
}
.project-images .box-body a {
    width: 100%;
}
.project-images .box-body a img {
    width: 100%;
}

/***
 *  Education
 */
.education .box-body em {
    color: red;
    font-size: 1.4em;
    line-height: 1em;
}
.education .box-body .info {
    font-style: italic;
    color: #333;
}
